  <hr />

  <!-- Blog starts -->
            
            <div class="blog">
               <div class="row">
                  <div class="span12">
                     
                     <!-- Blog Posts -->
                     <div class="row">
                        <div class="span8">
                           <div class="posts">
                           
                              <!-- Each posts should be enclosed inside "entry" class" -->
                              <% @posts.each do |post| %>
                                <%= partial "article", :locals => {:entry => post} %> 
                              <% end %>
                              
                              <!-- Pagination -->
                              <div class="paging">
                                <% if @posts.pager.previous_page %>
                                  <a href="?page=<%= @posts.pager.previous_page %>">新しい</a>
                                <% end %>
                                <% if @posts.pager.next_page %>
                                  <a href="?page=<%= @posts.pager.next_page %>">古い</a>
                                <% end %>
                              </div> 
                              
                              <div class="clearfix"></div>
                              
                           </div>
                        </div>                        
                        <div class="span4">
                          <%= partial "sidebar", :locals => {:entry => nil} %>
                        </div>
                     </div>
                     
                  </div>
               </div>
            </div>
 
 <div class="border"></div>

  </div>
</div>
