<div class="content">
  <div class="container">

<!-- Hero Unit -->

    <div class="row">
      <div class="span12">
        <h2>Portfolio</h2>
        <p>(Japanese)</p>
        <p>ここは道善勇太郎のホームページです。個人で制作しているウェブサービスの紹介や、開発の過程で使用した技術の紹介をしています。興味を持って頂けた方はご連絡頂けると大変嬉しいです。<i class="icon-envelope"></i> yudozen at gmail.com</p>
        <p>(English)</p>
        <p>Welcome to Lyrical Magical (Yutaro Dozen portfolio site). My web services called "Lyrical Series" produce lyrical experience for free. ill excite if you get interested. You can contact me yudozen at gmail.com. </p>
        <hr />
      </div>  
    </div>

<!-- Hero Ends -->  

<!-- Services starts -->

  <div class="services">
    <div class="row">

      <div class="span12">
        <h3>Services</h3>
      </div>

      <div class="span6">
        <div class="col-l">
          <div class="service">
            <div class="b-orange serv-block">
              <i class="icon-music"></i>
              <h3>Lyrical Call</h3>
            </div>
            <p>ソーシャルアラームサービスです。リリカルコールは、自分が知らない音で目覚める新鮮な感覚をもたらします。設定した時刻にどんな音が鳴るかはあなたの友達次第です。</p><p>リリカルな朝、始めませんか？</p>
            <a href="http://lyricalcall.com/?locale=ja">Go to website </a><i class="icon-arrow-right"></i> 
          </div>
        </div>
        <div class="col-r">
          <div class="service">
            <div class="b-purple serv-block">
              <i class="icon-envelope"></i>
              <h3>Lyrical Mail</h3>
            </div>
            <p>プレソーシャルネットワークをコンセプトにした友達探しのサービスです。専用アドレスが利用でき、タグを使った検索や評判機能によって、匿名性を確保しながら信頼性の高いコミュニケーションが可能です。</p>
            <a href="http://lmail.jp">Go to website </a><i class="icon-arrow-right"></i>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="span6">
        <div class="col-l">
          <div class="service">
            <div class="b-green serv-block">
              <i class="icon-question-sign"></i>
              <h3>&nbsp;</h3>
            </div>
            <p></p>
          </div>
        </div>
        <div class="col-r">
          <div class="service"> 
            <div class="b-blue serv-block">
              <i class="icon-question-sign"></i>
              <h3>&nbsp;</h3>
            </div>        
            <p></p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>


    </div>
  </div>

<hr />

<!-- Services Ends -->

  </div>
</div>
