<div class="content">
  <div class="container">

<!-- Slider starts -->
  
    <div class="row">
      <div class="span12">
        <!-- Slider (Parallax Slider) -->
          <div id="da-slider" class="da-slider">
            <div class="da-slide">
              <div class="da-blue">
                <h2><span>Metro Mania</span></h2>
                <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
                <a href="#" class="da-link">Read more</a>
                <div class="da-img"><img src="img/parallax/1.png" alt="image01" /></div>
              </div>
            </div>
            <div class="da-slide">
              <div class="da-green">
                <h2><span>Easy management</span></h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <a href="#" class="da-link">Read more</a>
                <div class="da-img"><img src="img/parallax/2.png" alt="image01" /></div>
              </div>
            </div>
            <div class="da-slide">
              <h2><span>Revolution</span></h2>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
              <a href="#" class="da-link">Read more</a>
              <div class="da-img"><img src="img/parallax/3.png" alt="image01" /></div>
            </div>
            <div class="da-slide">
              <h2><span>Quality Control</span></h2>
              <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
              <a href="#" class="da-link">Read more</a>
              <div class="da-img"><img src="img/parallax/4.png" alt="image01" /></div>
            </div>
            <nav class="da-arrows">
              <span class="da-arrows-prev"></span>
              <span class="da-arrows-next"></span>
            </nav>
          </div>
      </div>
    </div>

<!-- Slider Ends -->

<!-- Hero Unit -->

    <div class="row">
      <div class="span12">
        <h2>Welcome to リリカルマジカル</h2>
        <p>Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Nulla vitae cursus leo. Praesent eleifend sodales felis, in congue purus scelerisque eget.</p>
        <hr />
      </div>  
    </div>

<!-- Hero Ends -->  

<!-- Services starts -->

  <div class="services">
    <div class="row">

      <div class="span12">
        <h3>Services</h3>
      </div>

      <div class="span6">
        <div class="col-l">
          <div class="service">
            <div class="b-orange serv-block">
              <i class="icon-cloud"></i>
              <h3>Lyrical Call</h3>
            </div>
            <p>Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean lacus hendrerit.</p>
            <a href="#">Take a look </a><i class="icon-arrow-right"></i> 
          </div>
        </div>
        <div class="col-r">
          <div class="service">      
            <div class="b-purple serv-block">
              <i class="icon-briefcase"></i>
              <h3>Lyrical Mail</h3>
            </div>     
            <p>Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean lacus hendrerit.</p>
            <a href="#">Take a look </a><i class="icon-arrow-right"></i>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="span6">
        <div class="col-l">
          <div class="service">
            <div class="b-green serv-block">
              <i class="icon-camera"></i>
              <h3>ArenaDB</h3>
            </div>
            <p>Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean lacus hendrerit.</p>
            <a href="#">Take a look </a><i class="icon-arrow-right"></i>
          </div>
        </div>
        <div class="col-r">
          <div class="service"> 
            <div class="b-blue serv-block">
              <i class="icon-home"></i>
              <h3>&nbsp;</h3>
            </div>        
            <p></p>
            <a href="#">Take a look </a><i class="icon-arrow-right"></i>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>


    </div>
  </div>

<hr />

<!-- Services Ends -->

  </div>
</div>
